/* 
    1-Common Styles
    2-General Styles
    3-Sections Styles
       3-0- Nav bar Section 
       3-1- Home Section 
       3-2- About Section 
       3-3- Portfolio Section 
       3-4- Service Section 
       3-5- Prices Section 
       3-6- Team Section 
       3-7- Contact Section 
       3-8- Blog Page
       3-9- Footer Section
*/
/* 1-Common Styles */
/* 
- overlay
- opacity hover
- section header
- section padding
hover effect 1 ( left to right)
-hover effect 2 ( top to bottom)
*/
/*  1-Common Styles */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.hover-opacity{
    transition: opacity 0.5s
}

.hover-opacity:hover{
    opacity: 0.8s;
}
/*  2-General Styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Varela Round', sans-serif;
}
h1 ,h2, h3, h4, h5, h6{
    font-family: montserrat,sans-serif;

}
button{
    font-family: inherit;
}
/* 3-Sections Styles  */
/*3-0- Nav bar Section */
.container {
    width:80%;
    margin: auto;
}

nav{
     background: gray;
}
nav .logo {
    width: 40%;
    float: left;
}
nav .nav{
    width: 60%;
    float: right;
}
.clear{
    clear: both;
}
nav .nav li{
   list-style: none; 
   display: inline-block;
}
.nav li a{
    text-decoration: none;
    color: #ffffff; 
    padding: 35px 10px ;
    display: block;
}
/* Home Section */
.home{
    background-image: url('../images/background/background1.webp');
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    position: relative;
}
/* Hero Image */
.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home .title{
    text-transform: uppercase;
    font-size: 3.5rem;
}
.home-disc{
    margin: 10px 0;
    letter-spacing: 2px;
    line-height: 15px;
}

.home .btn{
    padding: 1vh 1.5vw;
    border-radius: 5px;
    border: 0px;
    min-width: 160px;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: #ffffff;
}
.home .btn-more{
    background-color: #6195ff;
    color: #ffffff;
}
/* About Section */
/* Portfolio Section */
/* Service Section */
/* Prices Section */
/* Team Section */
/* Contact Section */