/* 
    1-Common Styles
    2-General Styles
    3-Sections Styles
       3-0- Nav bar Section 
       3-1- Home Section 
       3-2- About Section 
       3-3- Portfolio Section 
       3-4- Service Section 
       3-5- Prices Section 
       3-6- Team Section 
       3-7- Contact Section 
       3-8- Blog Page
       3-9- Footer Section
*/
/* 1-Common Styles */
/* 
- overlay
- opacity hover
- section header
- section padding
hover effect 1 ( left to right)
-hover effect 2 ( top to bottom)
*/
/*  1-Common Styles */
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
}
.hover-opacity{
    transition: opacity .5s;
}
.hover-opacity:hover{
    opacity: 0.8;
}
.section-header{
    text-align: center;
}
.section-header .section-title{
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.line{
    content: "";
    display: block;
    height: 5px;
    width: 4vw;
    background-color: var(--mainMov);
    margin: auto;
}
.pd-y{
    padding: 120px 0;
}
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width: 0%;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: var(--mainGray);
    transition: width 0.5s;
    z-index: -1;
}
.ltr-effect:hover:after{
    width: 100%;
    color: var(--mainWhite);
}
.section-header{
    margin-bottom: 5vh;
}
/*  2-General Styles - color*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --mainMov: #6195ff;
    --mainWhite: #ffffff;
    --mainGray: #1C1D21;
}
body{
    font-family: 'Varela Round', sans-serif;
}
h1 ,h2, h3, h4, h5, h6{
    font-family: montserrat,sans-serif;

}
button{
    font-family: inherit;
}
a{
    text-decoration: none;
}
/* 3-Sections Styles  */
/*3-0- Nav bar Section */
.container {
    width:80%;
    margin: auto;
}
i{
 color: var(--mainMov);
}
nav{
     /* background: gray; */
     position: fixed;
     width: 100vw;
     z-index: 1;

}
nav .logo {
    width: 40%;
    float: left;

}
nav .logo img {
    width: 30%;
}
nav .nav{
    width: 60%;
    float: right;
    text-align: right;
}
.clear{
    clear: both;
}
nav .nav > li{
   list-style: none; 
   display: inline-block;
}
.nav > li > a{
    text-decoration: none;
    color: var(--mainWhite); 
    padding: 35px 10px ;
    display: block;
    font-size: 14px;
}

.nav > li > a.active:after,
.nav > li > a:after{
    content: "";
    display: block;
    margin-top: 2px;
    height: 2px;
    background-color: var(--mainMov);
}
.nav > li > a.active:after{
    width: 100%;
}
.nav > li > a:after{
    width: 0%;
}
.nav > li > a:hover:after{
    width: 100%;
    transition: width 0.5s;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    background-color: var(--mainMov);
    list-style: none;
    text-align: center;
    width: 10vw;
    left: -50%;
    top: 70%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ,visibilty 0.5s;
}
.dropdown-menu > li > a{
    color: var(--mainWhite);
    display: block;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
}
/* Home Section */
.home{
    background-image: url('../images/background/background1.webp');
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: var(--mainWhite);
    position: relative;
}
/* Hero Image */
.home-content{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home .title{
    text-transform: uppercase;
    font-size: 3.5rem;
}
.home-disc{
    margin: 10px 0;
    letter-spacing: 2px;
    line-height: 15px;
}
.home .btn{
    padding: 1vh 1.5vw;
    border-radius: 5px;
    border: 0px;
    min-width: 160px;
    cursor: pointer;
    font-size: 18px;
}
.home .btn-start{
    margin-right: 10px;
    background-color: var(--mainWhite);
}
.home .btn-more{
    background-color: var(--mainMov);
    color: var(--mainWhite);
}
/* About Section */

.about-item{
    width: 30%;
    float: left;
    /* display: inline-block; */
    text-align: center;
    text-transform: capitalize;
    padding: 50px 20px;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon {
    margin-bottom: 20px;
}
.about-title-desc{
    line-height: 1.6rem;
    margin-bottom: 10px;
}
.about-item-link{
    text-transform: capitalize;
}
.about-title{
    transition: color 0.5s;
}
.about-item:hover .about-title{
    color: var(--mainWhite);
}
/* Portfolio Section */
.portfolio{
    background-color: #f9f9f9;
}
.portfolio-item{
    width: 30%;
    float: left;
    margin-bottom: 30px;
    position: relative;
    padding: 1.25rem;
    /* text-align: center;
    padding: 50px 20px;
    text-transform: capitalize; */
}
.portfolio-item img{
    width: 100%;
}
.portfolio-item.mg{
    margin: 0 5%;
}
.portfolio-item .layer-content{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity 0.5S;
}
/* Hero Image concept */
.layer-content .layer-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    text-align: center;
}
.category{
    color: var(--mainMov);
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay:0.2s;
}
.layer-content-title{
    color: var(--mainWhite);
    background-color: var(--mainMov);
    font-size: 20px;
    margin: 1.25rem 0;
    position: relative;
    top: 10px;
    transition: top 0.5s;
    transition-delay:0.3s;
}

.layer-content .layer-content-link{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--mainMov);
    transition: top 0.5s;
    transition-delay:0.3s;
}
.layer-content .layer-content-link i{
    color: var(--mainWhite);
    line-height: 40px;
    transition: top 0.5s;
    transition-delay:0.3s;
}
.portfolio-item:hover .layer-content{
    opacity: 1;
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .category,
.portfolio-item:hover .layer-content .layer-content-link i {
    position: relative;
    top: 0px;

}
/* Service Section */
/* Prices Section */
/* Team Section */
/* Contact Section */